@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap'); */

@font-face {
  font-family: "CinzelDecorative-Regular";
  src: local("CinzelDecorative-Regular"),
    url(./fonts/CinzelDecorative-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Cinzel";
  src: local("Cinzel"), url(./fonts/Cinzel.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light"), url(./fonts/Poppins-Light.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "PTSerif-Regular";
  src: local("PTSerif-Regular"),
    url(./fonts/PTSerif-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.body {
  background: #000;
}
